<div>
	<h1 class = 'h3 mb-4 text-gray-800'>Cash In</h1>
	<div class = 'card o-hidden border-0 shadow-lg my-5'>
		<div class = 'card-body p-0'>
			<div class = 'row'>
				<div class = 'p-5'>
					<div class = 'text-center'>
						<h1 class = 'h4 text-gray-900 mb-4'>Please fill</h1>
					</div>
					<form class = 'user'>
						<div class = 'form-group row'>
							<div class = 'col-sm-6 mb-3 mb-sm-0'>
								<input type = 'text' class = 'form-control form-control-user'
									placeholder = 'Account Type'>
							</div>
							<div class = 'col-sm-6'>
								<input type = 'text' class = 'form-control form-control-user'
									placeholder = 'Amount'>
							</div>
						</div>
						<a href = '#' class = 'btn btn-primary btn-user btn-block'>
							Add Cash
						</a>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>