/* You can add global styles to this file, and also import other style files */

/*@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css';
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css';
*/@import 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i';

html, body
{
	width	:	100%;
	height	:	100%;

}

body
{
	margin				:	0;
	padding				:	0;
	background-color	:	#000;
}

h1, h2, h3, h4, h5, h6
{
	margin-block-start	:	0;
	margin-block-end	:	0;
}
