.nav-item-name {
    
    text-align: center;
}

.tcenter {
    color: white;
    //font-weight: bold;
}

.sidebar-brand-text {
 text-align: center;
 width: 100%;
}

a.sidebar-brand {
    padding: 0px;
}

.navbar-nav {
    height: 100%;
}

i.fa-spinner {
    margin-right: 5px;
    visibility: collapse;
}

div.footer {
    position: relative;
    width: 100%;
    
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

button {
    visibility: collapse;
}