<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
		<div class="sidebar-brand-icon rotate-n-15">
			<!--i class="fas fa-laugh-wink"></i-->
		</div>
		<div class="sidebar-brand-text mx-3">Personal Expense Tracker</div>
	</a>
	
	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item-name active"><a href="#" routerLink="/dashboard" routerLinkActive="is-active" class="nav-link" [ngStyle]="{'pointer-events': isOut ? 'none' : 'auto'}"><span class="tcenter" ><i class="fas fa-home"></i> Dashboard</span></a></li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Interface
	</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
			aria-expanded="true" aria-controls="collapseTwo" [ngStyle]="{'pointer-events': isOut ? 'none' : 'auto'}">
			<i class="fas fa-fw fa-user-circle"></i>
			<span>My Account</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Account</h6>
				<a class="collapse-item" href="#" routerLink="/manage-account" routerLinkActive="is-active">Add Account</a>
				<a class="collapse-item" href="#" routerLink="/cash-in" routerLinkActive="is-active">Cash In</a>
				<a class="collapse-item" href="#" routerLink="/make-transaction" routerLinkActive="is-active">Make Transaction</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
			aria-expanded="true" aria-controls="collapseUtilities" [ngStyle]="{'pointer-events': isOut ? 'none' : 'auto'}">
			<i class="fas fa-fw fa-search-dollar"></i>
			<span>Expense Tracker</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Transaction History</h6>
				<a class="collapse-item" href="#" routerLink="/weekly-transaction" routerLinkActive="is-active">Weekly Transactions</a>
				<a class="collapse-item" href="#" routerLink="/monthly-transaction" routerLinkActive="is-active">Monthly Transactions</a>
				<a class="collapse-item" href="#" routerLink="/account-transaction" routerLinkActive="is-active">Account Transactions</a>
				<a class="collapse-item" href="#" routerLink="/account-balances" routerLinkActive="is-active">Accounts and Balances</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
			aria-expanded="true" aria-controls="collapseThree" [ngStyle]="{'pointer-events': isOut ? 'none' : 'auto'}">
			<i class="fas fa-fw fa-users-cog"></i>
			<span>My Setting</span>
		</a>
		<div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" [ngStyle]="{'display': isOut ? 'none' : ''}">
			<div class="bg-white py-2 collapse-inner rounded">
			
				<a class="collapse-item" href="#" routerLink="/xx" routerLinkActive="is-active" (click)="logout()"><i class="fa fa-spinner fa-pulse"  [ngStyle]="{'visibility': isLoading ? 'visible' : ''}"></i>Log Out</a>
			</div>
		</div>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<!-- <div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div> -->

	<!-- Sidebar Message -->
	<!--div class="sidebar-card d-none d-lg-flex">
		<img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
		<p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
		<a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
	</div-->

</ul>

<!-- <div class="footer">
	<p class="copyright">  Copyright &copy; Week 4 Group 2</p>
</div> -->
 
<!-- End of Sidebar -->
