.account {
    max-width: 90%;
    margin: auto;
}

.form-control {
    width: 150px;
    height: 25px;
    float: right;
}

td {
    height: 10px;
    font-size: 13px;
}

.credit {
    font-size: 12px;
    background-color: #1b7ced;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    margin-right: 7px;
    margin-bottom: 7px;
}

.credit:focus {
    background-color: gray;
}

.wallet {
    font-size: 12px;
    background-color: #00b300;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    margin-right: 7px;
    margin-bottom: 7px;
}

.wallet:focus {
    background-color: gray;
}

.savings {
    font-size: 12px;
    background-color: #dc143a;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    margin-right: 7px;
    margin-bottom: 7px;
}

.savings:focus {
    background-color: gray;
}

label.coverDate {
    font-size: 12px;
    background-color: #1b7ced;
    color: white;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    margin-right: 7px;
}

.cicon {
    position: absolute;
    padding: 5px 7px;
    pointer-events: none;
    right: 33px;
}

.inner-addon { 
    position: relative; 
}

.p-5 {
    padding-top: 15px!important;
}

.alert {
    opacity: 0.8;
    text-align: center;
    font-size: 14px;
    height: 30px;
    vertical-align: middle;
    padding: 4px;
    margin-bottom: 0px;
}

.card-header {
    padding: 10px 35px;
    color: #1b7ced;
}

.right-inner-addon {
    padding: 0px;
}

th {
    border-top: 2px solid;
}