<div class="account">
  <h1 class = 'h3 mb-4 text-gray-800'></h1>
  <div class = 'card o-hidden border-0 shadow-lg my-5'>
    <div class="card-header">Account Transactions
      <!-- <i class="fa fa-calendar cicon"></i>
      <input #inp name='name' type="text" class="form-control date-picker" (keyup.enter)="onEnter(inp.value)"/> -->
    </div>
    <div class = 'card-body p-0'>
      <div class = 'row'>
        <div class = 'p-5'>
          <!-- <ng-template #elseBlock> -->
            <div>
              <!-- <label class="coverDate">{{accountName}}</label> -->
              <input #inp1 name="credit" type="button" class="credit" value="Credit Card" (click)="onEnter(inp1.value)" />
              <input #inp2 name="savings" type="button" class="savings" value="Savings" (click)="onEnter(inp2.value)" />
              <input #inp3 name="wallet" type="button" class="wallet" value="Wallet" (click)="onEnter(inp3.value)" />
            </div>
          <!-- </ng-template> -->

          <table class="table">
            <thead class="thead-light1">
              <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let acc of account">
                <td>{{ acc.transaction_date }}</td>
                <td>{{ acc.category }}</td>
                <td>{{ acc.transaction_name }}</td>
                <td>{{ acc.bill | currency:"PHP " }}</td>
              </tr>
            </tbody>
          </table>

          <div class="alert alert-danger" role="alert" *ngIf="account.length == 0; ">
            <p><Strong>Oops!</Strong> No Data Found.</p>
          </div>
                        
        </div>
      </div>
    </div>
  </div>
</div>