<div class="balances">
    <h1 class = 'h3 mb-4 text-gray-800'></h1>
    <div class = 'card o-hidden border-0 shadow-lg my-5'>
      <div class="card-header">Accounts and Balances
        <!-- <i class="fa fa-calendar cicon"></i>
        <input #inp name='name' type="text" class="form-control date-picker" (keyup.enter)="onEnter(inp.value)"/> -->
      </div>
      <div class = 'card-body p-0'>
        <div class = 'row'>
          <div class = 'p-5'>
  
            <table class="table">
              <thead class="thead-light1">
                <tr>
                  <th scope="col" class="tdate">Transaction Date</th>
                  <th scope="col" class="tdetails">Transaction Details</th>
                  <th scope="col" class="expenses">Expenses</th>
                  <th scope="col" class="balances">Balances</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="miniheader"><label class="credit">Credit Card</label></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let acc of credit">
                  <td>{{ acc.transaction_date }}</td>
                  <td>{{ acc.transaction_name }}</td>
                  <td>{{ acc.expenses | currency:"PHP " }}</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="totals"></td>
                  <td class="totals"></td>
                  <td class="totalExpense">{{ totalCreditExpense | currency:"PHP " }}</td>
                  <td class="totalBalance">{{ creditBalance | currency:"PHP " }}</td>
                </tr>
              </tbody>
            </table>

            <table class="table">
                <thead class="thead-light2">
                  <tr>
                    <th scope="col" class="tdate2">Transaction Date</th>
                    <th scope="col" class="tdetails2">Transaction Details</th>
                    <th scope="col" class="expenses2">Expenses</th>
                    <th scope="col" class="balances2">Balances</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="miniheader"><label class="savings">Savings</label></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let acc of savings">
                    <td>{{ acc.transaction_date }}</td>
                    <td>{{ acc.transaction_name }}</td>
                    <td>{{ acc.expenses | currency:"PHP " }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="totals"></td>
                    <td class="totals"></td>
                    <td class="totalExpense">{{ totalSavingExpense | currency:"PHP " }}</td>
                    <td class="totalBalance">{{ savingBalance | currency:"PHP " }}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table">
                <thead class="thead-light2">
                  <tr>
                    <th scope="col" class="tdate2">Transaction Date</th>
                    <th scope="col" class="tdetails2">Transaction Details</th>
                    <th scope="col" class="expenses2">Expenses</th>
                    <th scope="col" class="balances2">Balances</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="miniheader"><label class="wallet">Wallet</label></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let acc of wallet">
                    <td>{{ acc.transaction_date }}</td>
                    <td>{{ acc.transaction_name }}</td>
                    <td>{{ acc.expenses | currency:"PHP " }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="totals"></td>
                    <td class="totals"></td>
                    <td class="totalExpense">{{ totalWalletExpense | currency:"PHP " }}</td>
                    <td class="totalBalance">{{ walletBalance | currency:"PHP " }}</td>
                  </tr>

                  <tr>
                    <td class="miniheader totals"><label class="total">Total</label></td>
                    <td class="totals"></td>
                    <td class="grandExpenses">{{ grandExpense | currency:"PHP " }}</td>
                    <td class="grandBalances">{{ grandBalance | currency:"PHP " }}</td>
                  </tr>
                </tbody>
              </table>
                          
          </div>
        </div>
      </div>
    </div>
  </div>