.balances {
    max-width: 90%;
    margin: auto;
}

.form-control {
    width: 150px;
    height: 25px;
    float: right;
}

.miniheader {
    height: 10px;
    padding-bottom: 1px;
}

th.tdate, th.tdate2 {
    width: 200px;
}

th.expenses, th.balances, th.expenses2, th.balances2 {
    width: 130px;
}

td {
    height: 10px;
    font-size: 13px;
}

.totalExpense, .totalBalance, .grandExpenses, .grandBalances {
    font-weight: bold;
    background-color: #f2f2f2;
}

td.totals {
     background-color: #f2f2f2;
 }

.thead-light2 {
    visibility: collapse;
}

th.tdate, th.tdetails, th.expenses, th.balances {
    border-top: 2px solid;
}

th.tdate2, th.tdetails2, th.expenses2, th.balances2 {
    border-bottom: none;
    border-top: none;
}

.credit {
    font-size: 12px;
    background-color: #1b7ced;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    margin-bottom: 7px;
}

.wallet {
    font-size: 12px;
    background-color: #00b300;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    margin-bottom: 7px;
}

.savings {
    font-size: 12px;
    background-color: #dc143a;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    margin-bottom: 7px;
}

.total {
    font-size: 12px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    width: 80px;
    border-width: inherit;
    font-weight: bold;
    text-align: center;
    margin-right: 7px;
    margin-bottom: 7px;
}

.p-5 {
    padding-top: 15px!important;
}

.card-header {
    padding: 10px 35px;
    color: #1b7ced;
}