// :host, .Main
// {
// 	width	:	100%;
// 	height	:	100%;
// }

.reports, .users {
	display: flex;
}

p {
	font-size: 12px;
	font-weight: 500;
	padding: 0px;
	vertical-align: middle;
	padding-top: 5px;
}

h6 {
	position: absolute;
	top: 45px;
	margin: 0px;
	padding: 0px;
	
}

p.week {
	color: #00b300;
}

p.month {
	color: #efa536;
}

p.account {
	color: #1b7ced;
}

p.balance {
	color: #dc143a;
}

h1 {
	margin: 15px;
	
}

.headWeekly {
	height: 3px;
	background-color: #00b300;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.headMonthly {
	height: 3px;
	background-color: #efa536;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.headAccount {
	height: 3px;
	background-color: #1b7ced;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.headBalance {
	height: 3px;
	background-color: #dc143a;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

div.weekly {
	width: 238px;
	height: 100px;
	margin-left: 15px;
}

div.monthly {
	width: 238px;
	height: 100px;
	margin-left: 15px;
	vertical-align: middle;
}

div.account {
	width: 238px;
	height: 100px;
	margin-left: 15px;
}

div.balance {
	width: 238px;
	height: 100px;
	margin-left: 15px;
}

span {
	float: right;
	font-size: 30px;
	opacity: 0.2;
}

div.processes {
	margin: 20px 15px;
	width: 490px;
	height: 400px;
}

div.stats {
	margin: 20px 1px;
	width: 490px;
	height: 250px;
}

.card-header {
	color: #1b7ced;
	font-weight: 500;
}

p.stat {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 200px;
}

div.savings {
	background-color: #dc143a;
}

div.wallets {
	background-color: #00b300;
}

div.credit {
 text-align: right;
 vertical-align: middle;
}

p.percentCredit, p.percentSaving, p.percentWallet {
	position: absolute;
	right: 18px;
}

p.percentCredit {
	top: 93px;
}

p.percentSaving {
	top: 142px;
}

p.percentWallet {
	top: 190px;
}

div.process1 {
	width: 100%;
	
	background-image: url('process.jpg');
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-size: 460px 355px;
	
	height: 100%;
}

