<!-- <app-sidebar></app-sidebar> -->
<h1 class = 'h3 mb-4 text-gray-800'> {{ userName }}</h1>

<div class="reports">
	
	
	<div class="card weekly shadow-lg">
		<div class="headWeekly"></div>
		<div class="card-body">
			<p class="week">Weekly Transactions <span><i class="fas fa-calendar-check"></i></span></p>
			<h6>Week Range Report</h6>
		</div>
	</div>


	<div class="card monthly shadow-lg">
		<div class="headMonthly"></div>
		<div class="card-body">
			<p class="month">Monthly Transactions <span><i class="fas fa-calendar-alt"></i></span></p>
			<h6>Month Range Report</h6>
		</div>
	</div>

	<div class="card account shadow-lg">
		<div class="headAccount"></div>
		<div class="card-body">
			<p class="account">Account Transactions <span><i class="fas fa-dollar-sign"></i></span></p>
			<h6>Listing Per Account</h6>
		</div>
	</div>

	<div class="card balance shadow-lg">
		<div class="headBalance"></div>
		<div class="card-body">
			<p class="balance">Accounts and Balances <span><i class="fas fa-poll"></i></span></p>
			<h6>Ledger Report</h6>
		</div>
	</div>
</div>


<div class="users">

<div class="card processes shadow-lg">
	<div class="card-header">Processes</div>
	<div class="card-body">
		<div class="process1">
			
		</div>
		
	</div>
</div>

<div class="card stats shadow-lg">
	<div class="card-header">Statistics</div>
	<div class="card-body">
		<p class="stat">Credit Card</p> 
		<div class="progress credit">
			<div class="progress-bar credits" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]='{ width : creditPercentage }' >
			  
			</div>
			<p class="percentCredit">{{ creditPercentage }}</p>
		</div>
		<p class="stat">Savings</p>
		<div class="progress saving">
			<div class="progress-bar savings" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]='{ width : savingPercentage }'>
			  
			</div>
			<p class="percentSaving">{{ savingPercentage }}</p>
		</div>
		<p class="stat">Wallet</p> 
		<div class="progress wallet">
			<div class="progress-bar wallets" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [ngStyle]='{ width : walletPercentage }'>
			  
			</div>
			<p class="percentWallet">{{ walletPercentage }}</p>
		</div>
	</div>
</div>

</div>