<div class="login">
    <h1 class = 'h3 mb-4 text-gray-800'></h1>
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <div class="alert alert-danger" role="alert" *ngIf="notMatched">
                <p><Strong>Access Denied!</Strong> You have entered incorrect credentials.</p>
            </div> 
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <!-- <div *ngIf="notMatched">Incorrect Username</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /> 
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <!-- <div *ngIf="notMatched">Incorrect Password</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary" type="submit">
                        <span *ngIf="loading" class="fa fa-spinner fa-pulse"></span>
                        Login
                    </button>
                    <a routerLink="/register" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>





<!-- <div class="register">
    <h1 class = 'h3 mb-4 text-gray-800'></h1>
      <div class = 'card o-hidden border-0 shadow-lg my-5'>
      <div class="card-header">Register
        
      </div>
          <div class = 'card-body p-0'>
              <div class = 'row'>
                  <div class = 'p-5'>
            
                    <label>Name</label>
                    <input #inp name='name' type="text" class="form-control" />
                    <label>Email</label>
                    <input #inp name='email' type="text" class="form-control" />
                    <label>Username</label>
                    <input #inp name='username' type="text" class="form-control" />
                    <label>Password</label>
                    <input #inp name='password' type="text" class="form-control" />

                    <input #inp name='login' type="button" class="form-control-button" value="Register" />
                    <a href=""><span class="tcenter">Cancel</span></a>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="login">
    <h1 class = 'h3 mb-4 text-gray-800'></h1>
      <div class = 'card o-hidden border-0 shadow-lg my-5'>
      <div class="card-header">Login
        
      </div>
          <div class = 'card-body p-0'>
              <div class = 'row'>
                  <div class = 'p-5'>
            
                    <label>Username</label>
                    <input #inp name='username' type="text" class="form-control" />
                    <label>Password</label>
                    <input #inp name='password' type="text" class="form-control" />

                    <input #inp name='login' type="button" class="form-control-button" value="Login" />
                    <a href=""><span class="tcenter">Register</span></a>
                      
                  </div>
              </div>
          </div>
      </div>
  </div> -->