<div class="month">
  <h1 class = 'h3 mb-4 text-gray-800'></h1>
  <div class = 'card o-hidden border-0 shadow-lg my-5'>
    <div class="card-header">Monthly Transactions
      <i class="fa fa-calendar cicon"></i>
      <input #inp name='name' type="text" class="form-control date-picker" placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd" (keyup.enter)="onEnter(inp.value)"/>
    </div>
	<div class = 'card-body p-0'>
	  <div class = 'row'>
		<div class = 'p-5'>
          <div class="alert alert-danger" role="alert" *ngIf="monthly.length == 0; else elseBlock">
            <p><Strong>Oops!</Strong> No Data Found. Make sure you have entered valid keyword.</p>
          </div>
          <ng-template #elseBlock>
            <div>
              <label class="coverDate">{{startDate}}</label>
              <label class="to"> - </label>
              <label class="coverDate">{{endDate}}</label>
            </div>
          </ng-template>

		  <table class="table">
            <thead class="thead-light1">
              <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Account</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let month of monthly">
                <td>{{ month.transaction_date }}</td>
                <td>{{ month.account_name }}</td>
                <td>{{ month.category }}</td>
                <td>{{ month.transaction_name }}</td>
                <td>{{ month.bill | currency:"PHP "}}</td>
              </tr>
            </tbody>
          </table>
					
		</div>
	  </div>
	</div>
  </div>
</div>