.register {
    max-width: 40%;
    margin: auto;
    float: inherit;
    z-index: 1px;
}

.form-control {
    width: 100%;
    height: 35px;
    //float: right;
}

.form-control-button {
    width: auto;
    height: 35px;
    margin-top: 15px;
    background-color: #1b7ced;
    color: white;
    border: 1px solid;
    border-radius: 3px;
}

td {
    height: 10px;
    font-size: 13px;
}

label.coverDate {
    font-size: 12px;
    background-color: #1b7ced;
    color: white;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

label {
    padding: 0px;
    margin-top: 10px;
}

input { margin-top: 0px; font-size: 15px;}

.cicon {
    position: absolute;
    padding: 5px 7px;
    pointer-events: none;
    right: 33px;
}

.inner-addon { 
    position: relative; 
}

.p-5 {
    padding-top: 15px!important;
}

.alert {
    opacity: 0.8;
    text-align: center;
    font-size: 14px;
    height: 30px;
    vertical-align: middle;
    padding: 4px;
}

.card-header {
    padding: 10px 15px;
    font-size: 20px;
    color: #1b7ced;
}

.right-inner-addon {
    padding: 0px;
}

th {
    border-top: 2px solid;
}

a, span.tcenter {
    padding-left: 5px;
    color: #1b7ced;
    text-decoration: none;
}

.card {
    margin-top: 40px;
}

.unique {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}